<!doctype html>
<html>
  <body>
    <p>Hallo,</p>
    <p>Sie (oder jemand anderes) haben angefordert, das Passwort für Ihr <a href="https://lib.reviews">lib.reviews</a>-Konto zurückzusetzen.</p>
    <p>
      Um ein neues Passwort zu setzen, besuchen Sie diesen Link innerhalb der nächsten {{expirationHours}} Stunden:<br>
      <a href="{{resetURL}}">{{resetURL}}</a>
    </p>
    <p>Falls Sie diese Anfrage nicht gestellt haben, können Sie diese E-Mail ignorieren. Ihr Passwort wird nicht geändert.</p>
    <p>
      Bei Fragen kontaktieren Sie uns bitte unter
      <a href="mailto:lib.reviews@permacommons.org">lib.reviews@permacommons.org</a>.
    </p>
    <p>
      Mit freundlichen Grüßen,<br>
      Das lib.reviews-Team
    </p>
  </body>
</html>
