<!doctype html>
<html>
  <body>
    <p>Hello,</p>
    <p>You (or someone else) requested a password reset for your <a href="https://lib.reviews">lib.reviews</a> account.</p>
    <p>
      To reset your password, visit this link within the next {{expirationHours}} hours:<br>
      <a href="{{resetURL}}">{{resetURL}}</a>
    </p>
    <p>If you did not request this reset, you can safely ignore this email. Your password will not be changed.</p>
    <p>
      If you need assistance, please contact us at
      <a href="mailto:lib.reviews@permacommons.org">lib.reviews@permacommons.org</a>.
    </p>
    <p>
      Best regards,<br>
      The lib.reviews team
    </p>
  </body>
</html>
